.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 180px 0;
    position: relative;
    min-height: 70vh;
}

@media only screen
and (min-width: 0)
and (max-width: 1025px){
    .wrapper{
    padding: 0 0 100px 0;
    }
}