.text{
    font-size: 24px;
    color: #ffbe5b;
    font-weight: 400;
    font-family: "Inter";
    font-style: italic;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 1fr;
    margin:40px 0 0 0 ;
}
@media only screen
and (min-width: 0)
and (max-width: 1025px){
    .text{
        font-size: 16px;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
        gap: 10px;
        margin: 40px 0 50px;
        line-height: 16px;
    }
    .supportArmyText{
        grid-row: 3;
        margin-top: 20px;
    }
    .supportCrew{
        grid-row: 2;
    }

}